<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Stundenplan, Modul, Planung, THM, Technische Hochschule Mittelhessen">
  <meta name="author" content="Sebastian Espei">
  <meta name="robots" content="index, follow">

  <!-- Primary Meta Tags -->
  <title>Stundenplan Planungshilfe - Technischen Hochschule Mittelhessen</title>
  <meta name="title" content="Stundenplan Planungshilfe - Technischen Hochschule Mittelhessen">
  <meta name="description" content="Eine Planungshilfe für Studierende der Technischen Hochschule Mittelhessen, um ihren Stundenplan Modulweise zusammenzustellen.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://thm-planer.skillkiller.de/">
  <meta property="og:title" content="Stundenplan Planungshilfe - Technischen Hochschule Mittelhessen">
  <meta property="og:description" content="Eine Planungshilfe für Studierende der Technischen Hochschule Mittelhessen, um ihren Stundenplan Modulweise zusammenzustellen.">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://thm-planer.skillkiller.de/">
  <meta property="twitter:title" content="Stundenplan Planungshilfe - Technischen Hochschule Mittelhessen">
  <meta property="twitter:description" content="Eine Planungshilfe für Studierende der Technischen Hochschule Mittelhessen, um ihren Stundenplan Modulweise zusammenzustellen.">

  <!-- Google Verification -->
  <meta name="google-site-verification" content="2rlXDPrxOvy4YPlH4f8J6qls5BJh4SFF7VNvVid5Upc" />

</head>

<body>
  <div class="card container-md mb-3">
    <h5 class="card-header collapsed" data-bs-toggle="collapse" href="#guide-card" role="button">Anleitung - Klicke zum Ausklappen</h5>
    <div class="card-body collapse" id="guide-card">
        <ul class="list-group list-group-numbered" style="max-width: 700px;">
          <li class="list-group-item">Navigiere zum <a href="https://www.thm.de/organizer/" target="_blank">THM Organizer</a></li>
          <li class="list-group-item">Bewege Maus über "VERANSTALTUNGEN" <img src="img/step2.png" class="card-img-top"></li>
          <li class="list-group-item">Klicke "Stundenpläne" bei deinem jeweiligen Fachbereich <img src="img/step3.png" class="card-img-top"></li>
          <li class="list-group-item">Klicke "Filter" <img src="img/step4.png" class="card-img-top"></li>
          <li class="list-group-item">Wähle dein Studiengang aus <img src="img/step5.png" class="card-img-top"></li>
          <li class="list-group-item">Klicke "Exportieren" <img src="img/step6.png" class="card-img-top"></li>
          <li class="list-group-item">Klicke "Kalender-Abonnement" <img src="img/step7.png" class="card-img-top"></li>
          <li class="list-group-item">Öffne den angezeigten Link in einem neuen Tab. Die Datei wird dann heruntergeladen <img src="img/step8.png" class="card-img-top"></li>
          <li class="list-group-item">Gehe zurück zum THM-Planer</li>
          <li class="list-group-item">Wähle die heruntergeladene Datei aus <img src="img/step10.png" class="card-img-top"></li>
          <li class="list-group-item">Wähle deine Module aus <img src="img/step11.png" class="card-img-top"></li>
          <li class="list-group-item">Schaue welche Termine die Module haben <img src="img/step12.png" class="card-img-top"></li>
          <li class="list-group-item">Wechsel die Ansichten <img src="img/step13.png" class="card-img-top"></li>
        </ul>
    </div>
  </div>
  <div class="container-md mb-3">
    <input class="form-control" type="file" id="formFileMultiple" accept=".ics" multiple>
  </div>
  <h1>

  </h1>

  <!-- Dateien / Module auswahl Übersicht -->
  <div id="fileList" class="container-md">
  </div>


  <div class="mb-3 container-md">
    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col rounded-start" style="background-color: #3788d8;color: black;">
          Vorlesung
        </div>
        <div class="col" style="background-color: #ede99d; color: black;">
          Übung
        </div>
        <div class="col" style="background-color: #5a228b; color: #fff;">
          Praktikum
        </div>
        <div class="col rounded-end" style="background-color: #d2c2d1; color: black;">
          Andere
        </div>
      </div>
    </div>
  </div>
  <div id='calendar' class="mb-3"></div>

  <div class="card container-md mb-3">
    <h5 class="card-header" data-bs-toggle="collapse" href="#conflict-card" role="button">Konflikte</h5>
    <div class="card-body collapse show" id="conflict-card">
      <p class="card-text">
        Es wurden <b id="conflict-counter">0</b> Konflikte gefunden. Es werden nur zukünftige Termine beachtet!
        <ul class="list-group" id="conflicts">
        </ul>
      </p>
    </div>
  </div>


  <footer class="text-center text-lg-start text-dark">
    <div class="text-center p-3 rounded" style="background-color: rgba(0, 0, 0, 0.15)">
      <a class="text-reset" href="https://github.com/Skillkiller/thm-planer/" target="_blank" >GitHub</a> - 
      <a class="text-reset" href="https://github.com/Skillkiller/thm-planer/commit/<%= __COMMIT_HASH_LONG__ %>" target="_blank" ><%= __COMMIT_HASH_SHORT__ %></a> - <%= __COMMIT_DATE__ %> von <%= __COMMIT_AUTHOR__ %>
    </div>
  </footer>
</body>

</html>